<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210339058480-cq9nu11t7vrojheauo1io22dbph1chtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210339058480-cq9nu11t7vrojheauo1io22dbph1chtv</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Drn4me-gxBzWBGXZbWrZR_lOlX2duWI</string>
	<key>GCM_SENDER_ID</key>
	<string>210339058480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dincer.lojistik.dincerHealthCheckService</string>
	<key>PROJECT_ID</key>
	<string>dincer-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>dincer-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210339058480:ios:ae3892b5b9f2bd5e256ef5</string>
</dict>
</plist>